* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}

.title {
  text-align: center;
  padding: 2.3rem;
  font-size: 2.3rem;
}

.container {
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.post-1 {
  width: 15rem;
  height: 10rem;
  padding: 1rem;
  background-color: red;

}

.sub-title {
    padding: .5rem 1rem;
    font-size: 1rem;
}

.text{
    padding: 0rem 1rem;
    font-size: 1rem;
}
