* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter";
}

:root {
  --primary-color: oklch(49.6% 0.265 301.924);
  --secondary-color: oklch(70.2% 0.183 293.541);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  width: 13em;
  padding: 0.5em;
}

.menu {
  list-style-type: none;
  padding: 0.5em;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  cursor: pointer;
}
.menu:hover {
  background-color: var(--secondary-color);
}

.maxWidth {
  max-width: 70.25em;
  margin: auto;
}

.heroBanner {
  text-align: center;
  background-color: #f6f6f6;
  padding: 1em;
}

.iconPlay {
  height: 5em;
  width: 5em;
  display: none;
}

.iconPlay img {
  width: 100%;
}
.heroBanner_title {
  color: var(--primary-color);
  font-size: 1em;
  padding: .5em;
}

.heroBanner_subtitle {
  font-size: 1em;
  color: color-mix(in srgb, var(--primary-color), white);

}

.heroBanner_btn {
  display: inline-block;
  padding: 1em 2em;
  background-color: var(--primary-color);
  text-decoration: none;
  color: white;
  border-radius: 8px;
  margin-top: 1em;
}

.middleContent {
  background-color: #f6f6f6;
  text-align: center;
  padding: 2em;
}

.middleContent a{
  color: inherit;
  text-decoration: none;
  

}

.middleContent_title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 1em;
}

.middleContent span[class^="icon-"] {
  color: var(--primary-color);
  font-size: 2.5em;
}

.middleContent p {
  line-height: 1.5em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

}

.col {
  flex: 1 0 auto;
  width: 100%;
}

.col-sm-12{
  width: 100%;

}

.mainContent {
  padding: 2em;
}

.mainContent p {
  line-height: 1.2;
}

.mainContent_title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: normal;
  letter-spacing: .2em;
}

.mainContent .row {
  gap: 4em 2em;

}

.footer {
  background-color: #25303e;
  color: #83969f;
  text-align: center;
  padding: 2em;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (min-width: 50em) {
  .header {
    display: flex;
    flex-direction: row;
  }
  .nav {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: auto;

    
  }
  .menu {
    background-color: transparent;
    color: var(--primary-color);
  }

  .menu:hover{
    background-color: transparent;
    color:  var(--secondary-color);
  }

  .heroBanner {
    background-color: var(--primary-color);
 
  }

  .heroBanner_title{
    color: white;
  }

  .heroBanner_subtitle {
    color: white;
  }
  .iconPlay{
    display: inline-block;
  }
  .heroBanner_btn{
    background-color: var(--secondary-color);
  }
}

@media screen and (min-width: 57em) {
  .heroBanner {
    background-image: url(images/bg_topo_1198x670.jpg);
    aspect-ratio: 1198 /670;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
  }
  .heroBanner .maxWidth {
    margin: initial;
    margin-bottom: 4em;
    width: 75%;
  }

}

@media screen and (min-width: 74em) {
  .heroBanner {
    background-image: linear-gradient(transparent, var(--primary-color)), url(images/bg_topo_1600x1374.jpg);
    background-position: center top;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    max-height: 80vh;
    width: 100%;
  }
  .heroBanner .maxWidth {
    width: 50%;
  }

  .col-xl-6 {
    width: calc(50% - 1em);
  }
  .mainContent{
    width: 100%;
  }
}

@media screen and (min-width: 48.75em) {
  .col-md-6{
    width: calc(50% - 1em);
  }
}

@media screen and (min-width: 74em) {
  .col-xl-3 {
    width: calc(25% - 1em);
  }
}

.mainContent_article {
  container: main-content / inline-size;
}

@container main-content (min-width: 37.6em) {
.mainContent_container {
  display: flex;
  gap: 1em;
}
.mainContent_title {
  margin-top: 0;
}
.mainContent_img img{
  max-height: 182px;
}
.mainContent_img {
  flex: 0 0 25%;
}
.mainContent_text{
  flex-grow: 1;
}
}

